@import "tailwindcss";

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}